<ul>
  <li><a href="agendar-consulta2"><img src="/assets/voltar.png" width="40" height="40"></a></li>
</ul>
<ion-content>
  <div class="black">
    <div class="logo">
    </div>
    <h1>Pagamento</h1>
    <ion-radio-group *ngFor="let pagamento of pagamentos | async" required
      [(ngModel)]="pagamentoSel"
      (ionChange)="checkValue($event)">
      <ion-item color="none" lines="none">
        <ion-radio class="pagamento" value="{{pagamento.id}}" mode="md" style="background-image: url('{{pagamento.img}}');"></ion-radio>
        <p>{{pagamento.nome}}</p>
      </ion-item>
    </ion-radio-group>
    <ion-button expand="block" size="large" (click)="agendar()">Agendar</ion-button>
</div>
</ion-content>
