<ul>
  <li><a href="agendar-consulta2"><img src="/assets/voltar.png" width="40" height="40"></a></li>
</ul>
<ion-content>
  <div class="black">
    <div class="logo">
    </div>
    <h1>Pagamento</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <ion-button expand="block">Pix</ion-button>
    <ion-button expand="block">Plano de Saúde</ion-button>
    <ion-button expand="block">Dinheiro</ion-button>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <ion-button expand="block" href="finalizar">Agendar</ion-button>
</div>
</ion-content>
