<ul>
  <li><a href="index"><img src="/assets/voltar.png" width="40" height="40"></a></li>
</ul>
<ion-content>
  <div class="black">
    <div class="logo">
    </div>
    <h1>Agendar Consulta</h1>
    <div class="form">
      <h2>Data e Hora</h2>
      <ion-item>
        <ion-datetime locale="en-GB" hourCycle="h12"></ion-datetime>
      </ion-item>
      <br>
      <h2>Procedimento</h2>
      <ion-item>
        <select></select>
      </ion-item>
      <br>
      <h2>Profissional</h2>
      <ion-item>
        <select></select>
      </ion-item>
      <br>
      <ion-button expand="block" size="large" href="agendar-consulta2">Continuar</ion-button>
    </div>


</div>
</ion-content>
