 <ul>
        <li><a href="agendar-consulta"><img src="/assets/voltar.png" width="40" height="40"></a></li>
      </ul>
      <ion-content>
        <div class="black">
          <div class="logo">
          </div>
          <h1>Dados do Paciente</h1>
          <div class="form">
            <h2>Nome</h2>
            <ion-item>
              <ion-input type="text"></ion-input>
            </ion-item>
            <h2>Sobrenome</h2>
            <ion-item>
              <ion-input type="text"></ion-input>
            </ion-item>

            <table>
              <tr>
                <th>
                  <h2>Idade</h2>
                  <ion-item>
                    <ion-input type="number"></ion-input>
                  </ion-item>
                </th>
                <th>
                  <h2>Data de Nascimento</h2>
                  <ion-item>
                    <ion-input type="date"></ion-input>
                  </ion-item>
                </th>
              </tr>
            </table>

            <ion-button expand="block" href="pagamento">Continuar</ion-button>
          </div>


      </div>
      </ion-content>
