ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

ion-content {
  .black {
    background-image: url('/assets/BACKGROUND.jpg');
    background-repeat: repeat-y;
    width: 100vw;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

ion-card{
  min-height: 250px;
}

ion-card.status1{
  --background-color: #ACE1AF;
  box-shadow: none;
  $card-md-background-color: #ACE1AF;
}

ion-card.status2{
  --background-color: #fd5c63;
  box-shadow: none;
  $card-md-background-color: #fd5c63;
}

}
